<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Alta de Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">

    <form [formGroup]="empleadoForm" (ngSubmit)="registrar()">

      <div class="qr-grupo">
        <ion-input label="DNI" labelPlacement="floating" fill="outline" formControlName="dni" type="tel"></ion-input>
        <ion-button class="btn-qr" (click)="escanearQR()">
          <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-input label="Nombre" labelPlacement="floating" fill="outline" formControlName="nombre"
        type="text"></ion-input>
      <ion-input label="Apellido" labelPlacement="floating" fill="outline" formControlName="apellido"
        type="text"></ion-input>

      <ion-input label="CUIL (Generado Automáticamente)" labelPlacement="floating" fill="outline" formControlName="cuil"
        type="tel"></ion-input>

      <ion-input label="Correo Electrónico" labelPlacement="floating" fill="outline" formControlName="correo"
        type="email"></ion-input>

      <ion-input label="Contraseña" labelPlacement="floating" fill="outline" formControlName="clave"
        type="password"></ion-input>
      <ion-input label="Repetir Contraseña" labelPlacement="floating" fill="outline" formControlName="repetirClave"
        type="password"></ion-input>

      <ion-select label="Perfil Asignado" labelPlacement="floating" fill="outline" formControlName="perfil">
        <ion-select-option value="mozo">Mozo</ion-select-option>
        <ion-select-option value="cocinero">Cocinero</ion-select-option>
        <ion-select-option value="cantinero">Cantinero</ion-select-option>
      </ion-select>

      <div class="foto-container" (click)="tomarFoto()"
        [class.error]="empleadoForm.get('foto')?.invalid && empleadoForm.get('foto')?.touched">
        @if (imagenPreview) {
        <img [src]="imagenPreview" alt="Foto empleado" class="img-preview" />
        } @else {
        <div class="placeholder-foto">
          <ion-icon name="camera-outline"></ion-icon>
          <span>Tocar para tomar foto</span>
        </div>
        }
      </div>

      <ion-button type="submit" class="btn-submit" expand="block">Registrar Empleado</ion-button>
    </form>

  </div>
</ion-content>