<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  style="padding-top: 30px;">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  style="padding-top: 30px;">Detalle del Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (pedido) {
  <div class="pedido-container">
    <div class="pedido-header">
     
      <ion-text>
        <h2>Pedido #{{pedido.idPedido}}</h2>
      </ion-text>
      <ion-text *ngIf="pedido.idMesa">
        <h4>Mesa {{pedido.idMesa}}</h4>
      </ion-text>
      <h5>Cliente: <strong>{{pedido.emailUsuario || 'No especificado'}}</strong></h5>

       <div class="resumen-section">
        <ion-item lines="none" class="resumen-item">
            <ion-label>Pedido:</ion-label>
            <ion-label slot="end" class="estado-pedido">{{pedido.estado | titlecase}}</ion-label>
          </ion-item>
          <ion-item lines="none" class="resumen-item">
          <ion-label>tiempo:</ion-label>
          <ion-label slot="end">{{pedido.tiempoEstimado}} minutos</ion-label>
        </ion-item>
      </div>
    </div>

    <div class="pedido-detail-card">
      <ion-list class="productos-list">
        <ion-item *ngFor="let producto of pedido.productos" class="producto-item">
          <ion-label class="producto-info">
            <div class="producto-header">
              <h3>{{producto.nombre}}</h3>

            </div>
            <ion-text class="precio-unitario">${{producto.precio | number:'1.2-2'}} c/u</ion-text>
                        <ion-text class="cantidad">{{producto.tipo | titlecase}}</ion-text>

          </ion-label>
          
          <div slot="end" class="producto-precios">
            <ion-text class="cantidad">x{{producto.cantidad}}</ion-text>
            <ion-text class="cantidad">${{producto.precio * producto.cantidad | number:'1.2-2'}}</ion-text>
            <ion-text class="cantidad">              {{producto.estadoProducto | titlecase}}         </ion-text>

          </div>
        </ion-item>
      </ion-list>

      <div class="resumen-section">
        
        
        

        @if (pedido.descuento) {
          @if (pedido.descuento > 0) {
            <ion-item lines="none" class="resumen-item">
              <ion-label>Subtotal:</ion-label>
              <ion-label slot="end" class="total-precio">
                ${{pedido.precioTotal | number:'1.2-2'}}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="resumen-item">
              <ion-label>Porcentaje descuento:</ion-label>
              <ion-label slot="end" class="total-precio">
                {{pedido.descuento | number:'1.0-0'}}%
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="resumen-item">
              <ion-label>Descuento:</ion-label>
              <ion-label slot="end" class="total-precio">
                ${{pedido.precioTotal * (pedido.descuento/ 100) | number:'1.2-2'}}
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="resumen-item total-item">
              <ion-label>Total:</ion-label>
              <ion-label slot="end" class="total-precio">
                ${{pedido.precioTotal - pedido.precioTotal * (pedido.descuento/ 100)| number:'1.2-2'}}
              </ion-label>
            </ion-item>
          }
        } @else {
          <ion-item lines="none" class="resumen-item total-item">
            <ion-label>Total:</ion-label>
            <ion-label slot="end" class="total-precio precio-final">
              ${{pedido.precioTotal | number:'1.2-2'}}
            </ion-label>
          </ion-item>
        }
        
      </div>
    </div>
  </div>
}
 @else {
  <p class="no-pedido">No tenés un pedido hecho.</p>
 }
</ion-content>