<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title class="header-title"> Administrador </ion-title>

    <ion-buttons slot="end">
      <ion-button  id="log-out-button">
        <ion-icon slot="icon-only" name="power" id="log-out-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="container">

    <div class="action-buttons">
  <ion-button type="button" class="action-button" (click)="agregarEmpleado()">
    <div clase="contenido-button">
    <img src="assets\imgs\agregar_empleado.png" class="icono-personalizado" alt="Agregar" />
    <span>Agregar empleado</span>
    </div>
  </ion-button>
    </div>

  </div>
</ion-content>