<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Aprobar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">

    @if (clientesPendientes.length > 0) {
    <swiper-container [slidesPerView]="1" [pagination]="true" class="main-swiper" direction="vertical" >


        @for (client of clientesPendientes ; track $index) {
        <swiper-slide>
            <div class="client-card">
                <ion-card>

                    <ion-card-content>
                        
                        <img [src]="client.foto" alt="Foto del cliente" class="client-photo" />

                        <ion-card-title>{{ client.nombre }} {{ client.apellido }}</ion-card-title>

                        <div class="button-group">
                            <ion-button color="danger" (click)="confirmarRechazo(client)"
                                [disabled]="client.estado === 'rechazado'">
                                <ion-icon slot="icon-only" name="close"></ion-icon>
                            </ion-button>

                            <ion-button color="success" (click)="confirmarAceptacion(client)"
                                [disabled]="client.estado === 'aceptado'">
                                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
                            </ion-button>
                        </div>
                        
                    </ion-card-content>
                </ion-card>
            </div>
        </swiper-slide>
        }


    </swiper-container>
    } @else {
    <div class="sin-clientes">
        <h3>No hay clientes pendientes de aprobación.</h3>
    </div>
    }
</ion-content>