/* Header Styles */
ion-header {
  ion-toolbar {
    --background: #1d2f41;
    --color: white;
    --padding-top: 30px;
    --min-height: 94px;

    ion-back-button {
      --color: white;
      --background-hover: transparent;
    }

    ion-title {
      font-weight: bold;
      color: white;
    }
  }
}

ion-content {
    --background: #4A4E69;
}

/* Main Content */
.container {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 70px;
}

ion-card {
  border-radius: 12px;
  background: #1d2f41;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Form Controls */
.control {
  margin-bottom: 10px;
  background: #1d2f41;

  .label {
    display: block;
    font-weight: 500;
    margin-bottom: 2px;
    color: #ffffff;
  }
}

/* Buttons */
ion-button {
  --background: #4A4E69;
  --background-activated: #4A4E69;
  --background-hover: #4A4E69;
  --color: white;
  --border-radius: 8px;
  margin-top: 15px;
  height: 50px;
  font-weight: 500;
  font-size: 1.6rem;
  ion-icon {
    font-size: 20px;
  }
}

/* Photo Preview */
.foto-reducida {
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.item-native {
    --background: #1d2f41;
}

ion-radio {
    --color: rgb(255, 255, 255);
    --color-checked: #06a700;
}

/* Form Elements */
ion-textarea {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
  background: white;
  color: #000;
}

ion-radio-group {
    --background: #1d2f41;
    .radio-icom {
        color: white;
    }

  ion-item {
    --background: #1d2f41;
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-width: 0;

    ion-label {
      margin-left: 8px;
    }
  }
}

.question {
    --background: #1d2f41;
}

ion-checkbox {
  --size: 30px;
  --checkbox-background-checked: #1d2f41;
  --border-color-checked: #1d2f41;
}

/* Range Slider */
ion-range {
    --padding-top: 0px !important;
  --bar-background: #e0e0e0;
  --bar-background-active: #4A4E69;
  --knob-background: #4A4E69;
  --pin-background: #4A4E69;
  --pin-color: white;
  --background: white;
}

ion-label {
  color: #ffffff;
 font-size: 1.4rem !important;
}