<div class="action-buttons">

  <ion-button class="action-button" (click)="escanearQR()">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="qr-code-outline"></ion-icon>
      <span>Escanear QR</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="escanearQRDebug()">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="qr-code-outline"></ion-icon>
      <span>Escanear QR DEBUG PC</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="navegar('menu')">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="restaurant-outline"></ion-icon>
      <span>Ver Menú</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="navegar('juegos')">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="game-controller-outline"></ion-icon>
      <span>Jugar (Descuentos)</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="navegar('cuenta')">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="cash-outline"></ion-icon>
      <span>Pedir Cuenta</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="navegar('encuestas')">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="stats-chart-outline"></ion-icon>
      <span>Encuestas</span>
    </div>
  </ion-button>

</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-chat">
  <ion-fab-button color="secondary" (click)="irAlChat()">
    <ion-icon name="chatbubbles"></ion-icon>
  </ion-fab-button>
</ion-fab>