<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Menú Principal</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="container">
    <!-- Botones principales -->
    <div class="action-buttons">

@if ( pedidoActual?.estado === 'mesa asignada' ||
      pedidoActual?.estado === 'rechazado'){
    <ion-button expand="block" class="action-button"
      (click)="navegar('menu')">
      <div class="contenido-button">
        <ion-icon class="icono-personalizado" slot="start" name="fast-food-outline"></ion-icon>
        <span>Menú</span>
      </div>
    </ion-button>
  }
        <!-- Botón siempre visible -->
  <ion-button expand="block" class="action-button" (click)="verEstadoPedido()">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" slot="start" name="time-outline"></ion-icon>
      <span>Estado del pedido</span>
    </div>
  </ion-button>

  @if (pedidoActual?.estado !== 'pendiente_confirmacion'){
    <ion-button expand="block" class="action-button"
      (click)="irAlChat()">
      <div class="contenido-button">
        <ion-icon class="icono-personalizado" slot="start" name="chatbubbles-outline"></ion-icon>
        <span>Consultar a mozo</span>
      </div>
    </ion-button>
  }

@if (pedidoActual?.estado !== 'pendiente_confirmacion') {
  <ion-button expand="block"
    class="action-button survey-button" (click)="navegar('menu-encuesta')">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" slot="start" name="document-text-outline"></ion-icon>
      <span>Encuesta</span>

    </div>
  </ion-button>
}


  @if (!esAnonimo) {

    @if (pedidoActual?.estado !== 'pedido hecho' && pedidoActual?.estado !== 'rechazado' && pedidoActual?.estado !==
    'pendiente_confirmacion') {

    <ion-button class="action-button" (click)="navegar('juegos')">
      <div class="contenido-button">
        <ion-icon class="icono-personalizado" name="game-controller-outline"></ion-icon>
        <span>Jugar (Descuentos)</span>
      </div>
    </ion-button>
    }


  }
  <!-- Botones condicionales según estado -->
  @if (pedidoActual?.estado === 'servido') {
    <ion-button expand="block" class="action-button serve-button" (click)="marcarComoServido()">
      <div class="contenido-button">

        <ion-icon class="icono-personalizado" slot="start" name="restaurant-outline"></ion-icon>
        <span>Marcar servido</span>
      </div>
    </ion-button>
  } @else if (pedidoActual?.estado === 'pedido servido') {

    <ion-button expand="block" class="action-button bill-button" (click)="pedirLaCuenta()">
      <div class="contenido-button">

        <ion-icon class="icono-personalizado" slot="start" name="receipt-outline"></ion-icon>
        <span>Pedir cuenta</span>
      </div>
    </ion-button>
  } @else if (pedidoActual?.estado === 'cuenta entregada' || pedidoActual?.estado === 'entregado') {
    <ion-button expand="block" class="action-button pay-button" (click)="irAPagar()">
      <div class="contenido-button">
        <ion-icon class="icono-personalizado" slot="start" name="card-outline"></ion-icon>
        <span>Pagar cuenta</span>

      </div>
    </ion-button>
  }

    </div>
  </div>
</ion-content>