@use "../../../global.scss";

.splash-content {
  --background: none;
  background: radial-gradient(circle at center, #{global.$button-primary-bg}, #{global.$app-background});
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 8%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px rgba(42, 45, 67, 0.8);
}

.empresa {
  font-size: 3rem;
  font-weight: 700;
  color: #{global.$card-background};
}

.creator-name {
  font-weight: 300;
  font-size: 2.3rem;
  color: #{global.$text-light};
  margin: 15px 0;
  opacity: 1;
  flex-shrink: 0;
  padding: 10px 0;
  transform: translateY(0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.creator-name span {
  display: inline-block;
  animation: letterPulse 0.15s ease-in-out forwards;
}

.empresa span {
  display: inline-block;
  animation: letterPulse 0.25s ease-in-out forwards;
}

.creator-0 {
  animation: moveLeft 0.8s ease-in forwards;
  animation-delay: 4.8s;
}

.creator-1 {
  animation: moveRight 0.8s ease-in forwards;
  animation-delay: 4.8s;
}

.creator-2 {
  animation: moveDown 0.8s ease-in forwards;
  animation-delay: 4.8s;
}

@keyframes letterPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveLeft {
  to {
    transform: translateX(-120vw);
    opacity: 0;
  }
}

@keyframes moveRight {
  to {
    transform: translateX(120vw);
    opacity: 0;
  }
}

@keyframes moveDown {
  to {
    transform: translateY(120vh);
    opacity: 0;
  }
}