<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>

  <div class="login-container">
    <img src="assets/icon/favicon.png" alt="Logo" class="logo" />
    <h1 id="title">Iniciar sesión</h1>

    <form [formGroup]="loginForm" class="login" (ngSubmit)="IniciarSesion()">
      <div class="input-container">
        <ion-input aria-label="Correo electrónico" type="email" placeholder="Correo electrónico" autocomplete="email"
          required fill="outline" formControlName="email"></ion-input>

        <ion-input mode="md" aria-label="Contraseña" type="password" placeholder="Contraseña" autocomplete="password"
          required fill="outline" formControlName="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </div>

      <ion-button type="submit" class="boton-inicio">Iniciar sesión</ion-button>
    </form>

    <section class="seccion-registro">
      <ion-button class="boton-registro" (click)="irARegistro()">Registrarse</ion-button>
      <ion-button class="boton-registro" (click)="irALoginAnonimo()">Ingreso anónimo</ion-button>
    </section>

    <section class="seccion-acceso-rapido">
      <ion-button id="open-fast-access" class="boton-cuentas" fill="clear">
        <ion-icon slot="start" name="people-circle-outline"></ion-icon>
        Inicio rápido
      </ion-button>
    </section>
  </div>

  <ion-modal trigger="open-fast-access" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.55, 0.85]"
    class="google-bottom-sheet">
    <ng-template>
      <ion-content>
        <div class="modal-header">
          <h2>Selecciona una cuenta</h2>
          <p>Perfiles de evaluación rápida</p>
        </div>

        <ion-list lines="none" class="perfiles-list">
          <!-- {{perfilesPrueba | json }} -->
          @for (perfil of perfilesPrueba; track $index) {
          <ion-item button (click)="seleccionarPerfil(perfil)" detail="false">
            <ion-avatar slot="start">
              <img [src]="perfil.foto" [alt]="perfil.rol">
            </ion-avatar>
            <ion-label>
              <h3>{{ perfil.rol | titlecase }}</h3>
              <p>{{ perfil.nombre | titlecase }}</p>
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>