@use "../../../global.scss";
$breakpoint-mobile: 480px;
$breakpoint-small-mobile: 360px;


form {
    width: 25dvw;
    min-width: 315px;
    margin: 1.5rem auto 1rem auto;
}

.boton-inicio {
  width: 315px;
  margin: 0 auto;
  margin-top: 2rem;
    --background: #fffddd;
    color: #0c53b0;
    font-size: 1.25rem;
}

.boton-registro {
    width: 315px;
    font-size: 1rem;
    margin: 0 auto;
    --background: #253c70;
    color: #fffddd;
}

#title {
  color: #fffddd;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.seccion-registro {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

ion-content {
  --background: #0c53b0;
}

ion-input {
  width: 90%;
  margin: 0 auto;
  --background: white;
  --border-radius: 1rem;
}

.input-container {
  display: flex;
    flex-direction: column;
    gap: 2rem;
  border-radius: 1rem;
}

ion-segment {
  --background: #C9A7C2;
  border-radius: 2rem;
  margin-top: 2rem;
}

ion-segment-view {
    max-height: 25%;
}

ion-segment-content {
  margin-top: 1rem;
}

.segment-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    ion-button {
        width: 45%;
    }
}

 @media (max-width: $breakpoint-mobile) {

    #segments {
      ion-segment-button {
        min-height: 42px;
      }
    }
  }

  @media (max-width: $breakpoint-small-mobile) {
    section {
        padding: 8px;
    }

    #segments {
      ion-label {
        font-size: 10px;
      }
    }
  }

  .logo {
  display: block;      
  margin: 0 auto;     
  margin-top: 6rem;   
  border-radius: 1rem;
}
