



<ion-content id="main-content" [fullscreen]="true">
  <div class="container">


    <div class="action-buttons">
      <ion-button expand="block" class="action-button" (click)="accederListaDeEspera()">
        <ion-icon slot="start" name="people"></ion-icon>
        Lista de espera
      </ion-button>

    </div>
    

    <div class="action-buttons">
      <ion-button expand="block" class="action-button" (click)="agregarCliente()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Registrar cliente
      </ion-button>

    </div>

  </div>
</ion-content>