
<div class="action-buttons">

  

  <ion-button class="action-button" (click)="accederListaDeEspera()">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="people"></ion-icon>
      <span>Lista de espera</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="agregarCliente()">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="person-add-outline"></ion-icon>
      <span>Registrar cliente</span>
    </div>
  </ion-button>

  <ion-button class="action-button" (click)="escanearQR()">
    <div class="contenido-button">
      <ion-icon class="icono-personalizado" name="qr-code-outline"></ion-icon>
      <span>Escanear mesa</span>
    </div>
  </ion-button>

</div>