<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Registro</ion-title>

    <ion-buttons slot="end">
      @if (!esAnonimo) {
        <ion-button (click)="escanearQR()">
          <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section id="cart-section" [formGroup]="formularioAlta">
    <div class="container">
      <div class="row">
        <div class="cart cart2">
          <div style="z-index: 1" class="column">
            <div class="log-in-area column">

              <label class="column">
                Nombre
                <input type="text" formControlName="nombre" id="nombre" (input)="soloLetras($event)"
                  [class.input-error]="formularioAlta.get('nombre')?.invalid && formularioAlta.get('nombre')?.touched" />
              </label>

              @if (!this.esAnonimo) {

              <label class="column">
                Apellido
                <input type="text" formControlName="apellido" id="apellido" (input)="soloLetras($event)"
                  [class.input-error]="formularioAlta.get('apellido')?.invalid && formularioAlta.get('apellido')?.touched" />
              </label>

              <label class="column">
                DNI
                <input [class.input-error]="formularioAlta.get('dni')?.invalid && formularioAlta.get('dni')?.touched"
                  type="text" formControlName="dni" id="dni" minlength="8" maxlength="8"
                  (input)="soloNumeros($event)" />
              </label>

              <label class="column">
                Correo electrónico
                <input type="email" formControlName="email" id="email"
                  [class.input-error]="formularioAlta.get('email')?.invalid && formularioAlta.get('email')?.touched" />
              </label>

              <label class="column">
                Contraseña
                <input
                  [class.input-error]="(formularioAlta.get('password')?.invalid || formularioAlta.getError('passwordsMismatch')) && formularioAlta.get('password')?.touched"
                  type="password" formControlName="password" id="password" />
              </label>

              <label class="column">
                Repetir Contraseña
                <input
                  [class.input-error]="(formularioAlta.get('repeatPassword')?.invalid || formularioAlta.getError('passwordsMismatch')) && formularioAlta.get('repeatPassword')?.touched "
                  type="password" formControlName="repeatPassword" id="repeatPassword" />
              </label>

              }


              <label class="column">
                Tomar foto

                @if (imagenPreview) {
                <img [src]="imagenPreview" alt="Vista previa" id="img-preview">
                } @else {
                <div id="img-tomar" (click)="tomarFoto()">
                  <ion-icon slot="icon-only" name="camera">
                  </ion-icon>
                </div>
                }
              </label>
            </div>

            <div class="button-area column">
              <button (click)="handleRegister()">
                {{ this.esAnonimo ? 'Ingresar como Anónimo' : 'Registrarse' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>