@use "../../../../../global.scss" as global;

.container {
  height: 100%;
}

.action-buttons {
  display: grid;
//   grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;

  gap: 5px;
  padding: 16px;

  height: 100%;
}

.action-button {
  width: 90%;
  height: 75%;

  margin: auto;
  

  --border-radius: 16px;
  --background: #{global.$button-primary-bg};
  --color: #{global.$button-primary-text};
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }
}

.icono-personalizado {
  width: 50px;
  height: 50px;
//   margin-bottom: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  object-fit: contain;
}

.contenido-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    gap: 5px;
  width: 100%;
  height: 100%;
}

.contenido-button span {
  font-size: 1.5rem;
  text-align: center;
  white-space: normal;
  line-height: 1.2;
  font-weight: bold;
}