<!---
@if (userData) {
  
  @if (userData === "dueño" || userData === "supervisor" ) {
    <app-home-admin></app-home-admin>
  } @else if (userData === "cocinero") {
    <app-home-cocinero></app-home-cocinero>
  } @else if (userData === "mozo") {
    <app-home-mozo></app-home-mozo>
  }
  
} @else {
  <p>Cargando vista del usuario...</p>
}

LOS BOTONES ESTAN SOLO COMO ATAJOS RAPIDOS, DESPUES TIENE QUE SER SACADOS
--->
<ion-footer>
<div style="background: red; padding: 10px; text-align: center;">
  <button (click)="userData = 'dueño'">Ver Dueño</button>
  <button (click)="userData = 'cocinero'">Ver Cocinero</button>
  <button (click)="userData = 'mozo'">Ver Mozo</button>
</div>
<hr>

@if (userData === 'dueño') {
  <app-home-admin></app-home-admin>
  } @else if (userData === "cocinero") {
    <app-home-cocinero></app-home-cocinero>
  } @else if (userData === "mozo") {
    <app-home-mozo></app-home-mozo>
  }
</ion-footer>