<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio - {{ rolUsuario }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (rolUsuario === 'dueño' || rolUsuario === 'supervisor') {
  <app-home-admin></app-home-admin>
  } @else if (rolUsuario === 'cocinero') {
  <app-home-cocinero></app-home-cocinero>
  } @else if (rolUsuario === 'mozo') {
  <app-home-mozo></app-home-mozo>
  } @else if (!rolUsuario) {
  <div id="container">
    <p>Cargando vista del usuario...</p>
  </div>
  }

</ion-content>

<ion-footer>
  <div style="padding: 10px; text-align: center; background-color: var(--ion-color-light);">
    <button id="log-out-button" (click)="cerrarSesion()" style="padding: 10px 20px; cursor: pointer; border: none;">
      <ion-icon id="log-out-icon" name="power" style="font-size: 24px; vertical-align: middle;"></ion-icon>
      <span style="vertical-align: middle; margin-left: 8px;">Cerrar Sesión</span>
    </button>
  </div>
</ion-footer>