@use "../../../global.scss";

#log-out-button {
  --background: #{global.$card-background};
  --color: #{global.$text-light};
  --border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#log-out-icon {
  color: #{global.$button-primary-bg};
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: #{global.$text-light};
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: rgba(240, 240, 201, 0.7);
  margin: 0;
}

#container a {
  text-decoration: none;
}