@use "../../../global.scss";

#log-out-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  background: #{global.$card-background};
  --color: #{global.$text-light};
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 1rem;
  font-size: 1rem;
  ion-icon{
    font-size: 1.5rem;
    color: white;
  }
}

.span-rol {
  font-style: italic;
}

ion-avatar {
  height: 60px;
  width: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

}

ion-title {
  color: white;
  font-weight: 600;
}

.logo-spinner {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 1rem;
}

ion-spinner {
  margin-top: 0.5rem;
}

#log-out-icon {
  color: #{global.$button-primary-bg};
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: #{global.$text-light};
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: rgba(240, 240, 201, 0.7);
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-footer {
  --ion-safe-area-bottom: calc(max(env(safe-area-inset-bottom), 20px));

  ion-toolbar {
    padding-bottom: var(--ion-safe-area-bottom);
    min-height: calc(80px + var(--ion-safe-area-bottom));
  }
}