<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu-principal"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <div class="container">
    <!-- Botones principales -->
    <div class="action-buttons">
      <ion-button expand="block" class="action-button" (click)="completarEncuesta()">
        <div class="contenido-button">
          <ion-icon class="icono-personalizado" slot="start" name="document-text-outline"></ion-icon>
          <span>Completar encuesta</span>
        </div>
      </ion-button>

      <ion-button expand="block" class="action-button" (click)="verEncuesta()">
        <div class="contenido-button">
          <ion-icon class="icono-personalizado" slot="start" name="eye-outline"></ion-icon>
          <span>Ver resultados encuesta</span>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>