/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

$shadow-grey: #161925;
$twilight-indigo: #23395b;
$rich-cerulean: #406e8e;
$powder-blue: #8ea8c3;
$frozen-water: #cbf7ed;

$app-background: $rich-cerulean;
$card-background: $twilight-indigo;
$button-primary-bg: $powder-blue;
$button-primary-text: $shadow-grey;
$text-light: $frozen-water;
$error-border: #ff4a4a;

ion-content {
  --background: #{$app-background};
  --color: #{$text-light};
  color: $text-light;
}

ion-title,
label,
p,
span {
  color: $text-light;
}

.spinner-modal {
  --width: 220px;
  --height: 200px;

  --border-radius: 16px;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

ion-alert.mi-alerta {
  .alert-radio-label.sc-ion-alert-md {
    color:#{$text-light}  !important;
  }
}